*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.menu{
    align-items: center;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
}
.logoMenu{
    padding-left: 20px;
    padding-top: 10px;
}
nav ul{
    display: flex;    
    align-items: flex-end;
    padding-right: 20px;
}

nav ul li a{
    padding: 13px;
    text-decoration: none; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F3F3F3 
}
/* Section */
.mainContainer{
    display: flex;
    background-color: #E5E5E5;
    justify-content: space-around;

}
.destaque1{
    width: 490px;
    height: 350px;
    margin-top: 30px;
    margin-left: 19px;
    margin-bottom: 35px;
}
.destaque2{
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-left: 19px;
    margin-bottom: 35px;
    border-radius: 5px;
    width: 491px;
    height: 350px;
}
h2{
    font-size: 24px; 
    font-weight: bold;
    color: #FC200C;
    margin: 20px 155px 20px 155px;
    font-family: Roboto;
    
}
h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    padding-left: 70px;
    font-family: Roboto;
}
.lista{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 70px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

}
.arbolito {
    margin-right: 60px;
}

/* Footer */

footer{
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
footer img{
    margin: 42px 35px;
}
footer ul li a{
    padding: 12px;
    text-decoration: none; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F3F3F3 
}


